*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.dim-change {
    padding: 10px;
    margin: 10px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80vh;
    height: 80vh;
}

.row {
    display: flex;
    flex: auto;
}

.square {
    flex: auto;
}
